include RELEASE-VERSION
include version.py
include LICENSE.txt
include README.md
include data/john-smith/john-smith-tagged-by-lingpipe-serif-0-197.sc.xz
recursive-include data/john-smith/original *
recursive-include data/test *
recursive-include examples *.yaml *.py
